.App {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;

}

ul li {
  margin: 0 .3em;
  background-color: gold;
  color: black;
  border-radius: 5px;
  padding: .8em;

}


/* Fade In and Shake Animation */
@keyframes fadeInShake {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.history-item {
  animation: fadeInShake 0.5s ease-out;
}
